.container-cards {
    display: flex;
    flex-direction: column;
    border: dashed 1px #0000ff;

}

.card {
    display: flex;
    flex-direction: row;
    border: dashed 1px #ffffff;

    height: 200px;
    /* Altura */

}

.card>.avatar {
    width: 100px;
    object-fit: cover;
    border: dashed 1px #0000ff;
    gap: 16px;
    /*Distância entre os elementos filhos */
    padding: 16px;
    /*Distância da borda do contéudo externo (sem mais nenhuma padronização, afasta de todos os 4 lados) */


}

.card>.conteudo {
    border: dashed 1px #0000ff;
    gap: 16px;
    /*Distância entre os elementos filhos */
    padding: 16px;
    /*Distância da borda do contéudo externo (sem mais nenhuma padronização, afasta de todos os 4 lados) */

}

.card>.barra-botoes {
    width: 100px;
    border: dashed 1px #0000ff;
    gap: 16px;
    /*Distância entre os elementos filhos */
    padding: 16px;
    /*Distância da borda do contéudo externo (sem mais nenhuma padronização, afasta de todos os 4 lados) */
}
